{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Blog Project</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
<div class="header">
  <h2>Blog Projects</h2>
</div>

<div class="row">
  <div class="leftcolumn">
    {% for post in paginate %}
    <div class="card">
      <a style="text-decoration: none; color: black;" href="/post/{{post.id}}">
        <h2>{{post.title}}</h2>
        <h5>{{post.created_at}}</h5>
        <p>{{post.content|truncatewords:20}}</p>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% if paginate.has_previous %}
  <button style="text-align: center;"><h4><a style="text-decoration: none; color: black;" href="?page=1">&laquo; First</a></h4></button>
  <button style="text-align: center;"><h4><a style="text-decoration: none; color: black;" href="?page={{paginate.previous_page_number}}">previous</a></h4></button>
{% elif paginate.has_next %}
  <button style="text-align: center;"><h4><a style="text-decoration: none; color: black;" href="?page={{paginate.next_page_number}}">{{paginate.next_page_number}}</a></h4></button>
  <button style="text-align: center;"><h4><a style="text-decoration: none; color: black;" href="?page={{paginate.paginator.num_pages}}">last &raquo;</a></h4></button>
{% endif %}
<br>
<h2>Page {{paginate.number}} of {{paginate.paginator.num_pages}}</h2>



</body>
</html>